  body{
    background-image: linear-gradient(to right, turquoise , pink);

  }
   h1{
    font-family: "Lucida Handwriting", "Courier New";
    text-shadow: 1px 1px 2px pink;
    display: flex;
    justify-content: center;
  }
  ul{
    font-family: "Monaco";
  }
  h4{
    text-shadow: 1px 1px 2px pink;
    font-family: "Monaco";
  }
  .main {
      display: flex;
      align-items: flex-start;

  }
  .link {
      display: flex;
      justify-content: space-around;
    }
  img {
      margin: 20px;
      border: 5px outset thistle;
      border-radius: 50%;

  }
    
    
